{% ckan_extends %}
{% block custom_styles %}
{{ super() }}
<link rel="stylesheet" href="/andino.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/poncho/dist/css/poncho.min.css">
<link rel="stylesheet" href="/poncho/dist/css/icono-arg.css">
<link rel="stylesheet" href="/custom.css">

{% endblock %}