<footer class="main-footer navbar-fixed-bottom" id="footer">
  <div class="restricted-max-width">
    <div id="footer-spacer" class="">
      <div class="footer-section logo col-xs-12 col-sm-6 col-md-6">
        <p>

          <a href="https://twitter.com/MDSNacion" target="_blank" class="social-link">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>

          <a href="http://www.facebook.com/MDSNacion" target="_blank" class="social-link">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>

          <a href="http://www.youtube.com/user/DesarrolloSocialTV" target="_blank" class="social-link">
            <i class="fa fa-youtube-play" aria-hidden="true"></i>
          </a>
        </p>
      </div>
      <div class="footer-section links-externos col-xs-12 col-sm-6 col-md-6">
        <ul class="menu nav">
          <li>
            <a href="mailto:datosabiertos@desarrollosocial.gob.ar"><i class="fa fa-envelope"></i> Contactanos</a>
          </li>
          <li>
            <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN {{ h.ckan_version() }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row sub-footer">
      <div class="container">
        <div class="col-sm-6 m-y-1 p-x-0"> <img class="image-responsive" width="288" height="40"
            src="{{ '/img/logo_argentina_unida-blanco.svg' }}"
            alt="Argentina Unida"></div>
      </div>
    </div>
  </div>
</footer>