{% extends "base.html" %}

{%- block page -%}

{% block skip %}
<div class="sr-only sr-only-focusable"><a href="#content">{{ _('Skip to content') }}</a></div>
{% endblock %}

{#
Override the header on a page by page basis by extending this block. If
making sitewide header changes it is preferable to override the header.html
file.
#}
{%- block header %}
{% include "header.html" %}
{% endblock -%}

{# The content block allows you to replace the content of the page if needed #}
{%- block content %}
<main role="main">
  <div class="main">
    <div id="content" class="">
        {% block main_content %}
          <div class="container">
          {% block flash %}
            <div class="flash-messages">
              {% block flash_inner %}
                {% for message in h.flash.pop_messages() | list %}
                  <div class="alert fade in {{ message.category }}">
                    {{ h.literal(message) }}
                  </div>
                {% endfor %}
              {% endblock %}
            </div>
          {% endblock %}

          {% block toolbar %}
              {% block breadcrumb %}
                {% if self.breadcrumb_content() | trim %}
                  <ol class="breadcrumb">
                    <li>
                      <a href="{{ h.url_for('home.index') }}" aria-label="{{ _('Home') }}">
                        <i class="fa fa-home"></i>
                        <span>{{ _('Home') }}</span>
                      </a>
                    </li>
                    {% block breadcrumb_content %}{% endblock %}
                  </ol>
                {% endif %}
              {% endblock %}

          {% endblock %}

            <div class="row {% block wrapper_class %}{% endblock %}{% if self.secondary()|trim == '' or c.action=='resource_read' %} no-nav{% endif %} pt-2">
              {#
              The pre_primary block can be used to add content to before the
              rendering of the main content columns of the page.
              #}
              {% block pre_primary %}
              {% endblock %}

              {% block secondary %}
                <div class="col-md-3">
                  {% block secondary_content %}{% endblock %}
                </div>
              {% endblock %}

              {% block primary %}
                <div class="container col-md-9">
                  {% block primary_content %}
                    <article class="module">
                      {% block page_header %}
                        <header class="module-content page-header">
                          {% if self.content_action() | trim %}
                            <div class="content_action">
                              {% block content_action %}{% endblock %}
                            </div>
                          {% endif %}
                          <ul class="nav nav-tabs">
                            {% block content_primary_nav %}{% endblock %}
                          </ul>
                        </header>
                      {% endblock %}
                      <div class="module-content">
                        {% if self.page_primary_action() | trim %}
                          <div class="page_primary_action">
                            {% block page_primary_action %}{% endblock %}
                          </div>
                        {% endif %}
                        {% block primary_content_inner %}
                        {% endblock %}
                      </div>
                    </article>
                  {% endblock %}
                </div>
              {% endblock %}
            </div>
        {% endblock %}
      </div>
    </div>
  </div>
</main>
{% endblock -%}
{#
Override the footer on a page by page basis by extending this block. If
making sitewide header changes it is preferable to override the footer.html-u
file.
#}
{%- block footer %}
{% include "footer.html" %}
{% endblock -%}
{%- endblock -%}

{%- block scripts %}
{% asset 'base/main' %}
{% asset 'base/ckan' %}
{% if g.tracking_enabled %}
{% asset 'base/tracking' %}
{% endif %}
{{ super() }}
{% endblock -%}