{#
Displays a single of dataset.

package        - A package to display.
item_class     - The class name to use on the list item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

Example:

  {% snippet 'snippets/package_item.html', package=c.datasets[0] %}

#}
{% set truncate = truncate or 180 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}

{% block package_item %}
<a class="panel panel-default" href="{{ h.url_for('%s.read' % package.type, id=package.name) }}">
  <div class="panel-body">
    <h3>{{ package.display_name }}</h3>
    <p class="text-muted">
      {% if notes %}
      <div>{{ notes }}</div>
      {% else %}
      <p class="empty">{{ _("This dataset has no description") }}</p>
      {% endif %}
        <ul class="dataset-resources list-unstyled">
          {% for resource in h.dict_list_reduce(package.resources, 'format') %}
          <li>
            <span data-format="{{ resource.lower() }}" class="label label-default">{{ resource }}</span>
          </li>
          {% endfor %}
        </ul>

    </p>
  </div>
</a>

{% endblock %}