{% extends "page.html" %}

{% set pkg = pkg_dict %}
{% set dataset_type = dataset_type or pkg.type or 'dataset' %}

{% block breadcrumb_content_selected %} class="active"{% endblock %}

{% block subtitle %}{{ _(dataset_type.title()) }}{% endblock %}

{%- block content %}
<main role="main">
  <div class="main">
    <div id="content" class="dataset"> 
      {% block main_content %}
      <div class="container">
        <div
          class="row {% block wrapper_class %}{% endblock %}{% if self.primary()|trim == '' or c.action=='resource_read' %} no-nav{% endif %} pt-2">
          {#
          The pre_secondary block can be used to add content to before the
          rendering of the main content columns of the page.
          #}
          {% block pre_secondary %}
          {% endblock %}

          {% block primary %}
          <div class="col-md-8">
            {% block toolbar %}
            {% block breadcrumb %}
            {% if self.breadcrumb_content() | trim %}
            <ol class="breadcrumb">
              <li>
                <a href="{{ h.url_for('home.index') }}" aria-label="{{ _('Home') }}">
                  <i class="fa fa-home"></i>
                  <span>{{ _('Home') }}</span>
                </a>
              </li>
              {% block breadcrumb_content %}
              {% if pkg %}
              {% set dataset = h.dataset_display_name(pkg) %}
              {% if pkg.organization %}
              {% set organization = h.get_translated(pkg.organization, 'title') or pkg.organization.name %}
              {% set group_type = pkg.organization.type %}
              <li>{{ h.nav_link(_(dataset_type.title() + 's'), named_route='%s.search' % dataset_type,
                highlight_actions = 'new index') }}</li>
              {% else %}
              <li>{% link_for _(dataset_type.title()), named_route=dataset_type ~ '.search' %}</li>
              {% endif %}
              <li{{ self.breadcrumb_content_selected() }}>{% link_for dataset|truncate(30), named_route=pkg.type ~ '.read',
                id=pkg.id
                if is_activity_archive else pkg.name %}</li>
                {% else %}
                <li>{% link_for _(dataset_type.title()), named_route=dataset_type ~ '.search' %}</li>
                <li class="active"><a href="">{{ _('Create Dataset') }}</a></li>
                {% endif %}
                {% endblock %}
            </ol>
            {% endif %}
            {% endblock %}

            {% endblock %}
            {% block primary_content %}{% endblock %}
            {% block primary_content_inner %}{% endblock %}
          </div>
          {% endblock %}

          {% block secondary %}
          <div class="container col-md-4">
            {% block secondary_content %}
            <article class="module">
              {% block page_header %}
              <header class="module-content page-header">
                {% if self.content_action() | trim %}
                <div class="content_action">
                  {% block content_action %}{% endblock %}
                </div>
                {% endif %}
                <ul class="nav nav-tabs">
                  {% block content_secondary_nav %}{% endblock %}
                </ul>
              </header>
              {% endblock %}
              <div class="module-content">
                {% if self.page_secondary_action() | trim %}
                <div class="page_secondary_action">
                  {% block page_secondary_action %}{% endblock %}
                </div>
                {% endif %}
                {% block secondary_content_inner %}
                {% endblock %}
              </div>
            </article>
            {% endblock %}
          </div>
          {% endblock %}
        </div>
        {% endblock %}
      </div>
    </div>
  </div>
</main>
{% endblock -%}
